@model ReviewsSite.Models.Product

<h2><a href="/Product/">All Products</a></h2>
<hr />
<p>@Model.Name</p>
<p><img class="productImage" src="@Url.Content(Model.Image)" /></p>
<p>@Model.Category</p>
<div>
    <button type="button" onclick="location.href='/Product/Update/@Model.Id'">Edit</button> |
    <button type="button" onclick="location.href='/Product/Delete/@Model.Id'">Delete</button>
</div>
<p>Reviews</p>
<div>
    <div><a href="/Review/Create/@Model.Id">Create a new review</a></div>
    @foreach (var review in Model.Reviews)
    {
        <div>@review.AuthorName</div>
        @for (int i = 1; i <= 5; i++)
        {
            if (i <= @review.Rating)
            {
                <div class="fa fa-star checked"></div>
            }
            else
            {
                <div class="fa fa-star"></div>
            }
            
        }
        <div>@review.ReviewContent <button type="button" onclick="location.href='/Review/Update/@review.Id'">Edit</button> | <button type="button" onclick="location.href='/Review/Delete/@review.Id'">Delete</button></div>

    }
</div> 