@model ReviewsSite.Models.Product

<h2><a href="/Product/">All Products</a></h2>
<hr />
<p>@Model.Id</p>
<p>@Model.Name</p>
<p><img class="productImage" src="@Url.Content(Model.Image)" /></p>
<p>@Model.Category</p>
<p>Reviews</p>
<div>
    <div><a href="/Review/Create/@Model.Id">Create a new review</a></div>
    @foreach (var review in Model.Reviews)
    {
        <div><a href="/Review/">@review.AuthorName</a></div>
        <div><a href="/Review/">@review.Rating</a></div>
        <div><a href="/Review/">@review.ReviewContent</a> <button type="button" onclick="location.href='/Review/Update/@review.Id'">Edit</button> | <button type="button" onclick="location.href='/Review/Delete/@review.Id'">Delete</button></div>
        
    }
</div> 